<!DOCTYPE html>
<html>
<head>
  <title>Oauthy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <h2>OAuthy2</h2>
  <div>
    <h4>Sign in</h4>
    <ul>
      <li><a href="#">Sign in with Twitter</a></li>
      <li><a href="#">Sign in with GitHub</a></li>
    </ul>
  </div>
<%= yield %>

</body>
</html>
